*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background-layer {
  background-color: rgba(115, 229, 74, 0.301);
  height: 100vh;
}

.main-title {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.mood-icon {
  height: 5rem;
  display: block;
  margin: 1rem auto;
}

.city-info-container {
  background-color: beige;
  margin: 2rem auto;
  padding: 2rem 2rem 3rem 2rem;
  border: 1px solid black;
  border-radius: 15px;
  width: 75%;
}

.city-info-table {
  text-align: left;
}

.scale-container {
  margin-top: 1.5rem;
  display: flex;
  position: relative;
  width: 100%;
}

.scale-section {
  height: 10px;
  flex-grow: 1;
}

.scale-section:not(:last-child) {
  border-right: 2px solid white;
}

.scale-section:nth-child(2) {
  background-color: #00ff00;
  flex-grow: 1;
}
.scale-section:nth-child(3) {
  background-color: #ffff00;
  flex-grow: 1;
}
.scale-section:nth-child(4) {
  background-color: #ff7f00;
  flex-grow: 1;
}
.scale-section:nth-child(5) {
  background-color: #ff0000;
  flex-grow: 1;
}
.scale-section:nth-child(6) {
  background-color: #8b00ff;
  flex-grow: 2;
}
.scale-section:nth-child(7) {
  background-color: #7e0023;
  flex-grow: 3;
}

.pollution-cursor {
  height: 2rem;
  transform: rotate(180deg);
  position: absolute;
  top: 6px;
}
